* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

:root {
    --black-color: #000;
    --dark-blue: #0B2330;
}

.wrapper {
    margin: 0 32px;
    max-width: 1550px;

}

.flex {
    display: flex;
}

.header {
    margin: 0 36px;
}

.topbar {
    height: 83px;
    justify-content: space-between;
}

.content a {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: var(--black-color);
    justify-content: center;
}

.content {
    align-items: center;
}

.rightcontent {
    align-items: center;
    margin-left: 160px;
    column-gap: 24px;
    width: 170px;
}

.logo {
    align-items: center;
}

.mid {
    column-gap: 52px;
    display: flex;
    margin-left: 170.39px;
    width: 600px;
}

.bottom1 {
    align-items: center;
    margin-left: 36px;
    cursor: pointer;
    background-color: var(--dark-blue);
    width: 163px;
    height: 54px;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid var(--dark-blue);
    color: white;

}

.container_1 {
    height: 1050px;
    margin: 0 147px;
}

.text_1 {
    height: 256px;
    width: 436px;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: var(--black-color);
}

.text_2 {
    font-size: 22px;
    line-height: 32px;
    width: 435px;
    height: 96px;
    color: #375361;
    margin-top: 32px;
}

.bottom {
    column-gap: 16px;
    margin-top: 38px;
}

.btn_1 {
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--black-color);
    width: 163px;
    height: 54px;
    cursor: pointer;
}

.btn_1:hover, .btn_2:hover, .btn_3:hover, .bottom1:hover {
    transform: translate(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}

.btn_2 {
    border: 1px solid var(--dark-blue);
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--black-color);
    width: 156px;
    height: 54px;
    background-color: white;
    cursor: pointer;
}

.imgbg {
    position: relative;
    left: 336px;
    width: 600px;
    height: 886px;
}

.imgcontent {
    position: relative;
    left: 160px;
    width: 608px;
    height: 541px;
    bottom: 752px;
    margin-left: 102px;
    margin-bottom: 173px;
}

.container_2 {
    width: 1440px;
}

.text_3 {
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    width: 547px;
    height: 96px;
    margin-left: 447px;
    margin-top: 0;
    color: var(--dark-blue);
}

.icons {
    margin-top: 59px;
}

.icons div {
    display: flex;
    column-gap: 82px;
    margin: 0 174px;
    row-gap: 16px;
}

.container_3 {
    width: 1440px;
    height: 494px;
    background: #51CEBC;
    justify-content: center;
    margin-top: 192px;
    border-radius: 10px;
}

.text_5 {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--dark-blue);
    width: 557px;
    height: 120px;
    margin-top: 114px;
    margin-left: 20px;
}

.text_6 {
    font-size: 22px;
    line-height: 32px;
    color: var(--dark-blue);
    width: 533px;
    height: 64px;
    margin-top: 35px;
    margin-left: 20px;
}

.container_4 {
    width: 1440px;
    height: 1035px;
    margin-top: 191px;
}

.text_7 {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    width: 711px;
    height: 80px;
    margin-left: 365px;
}

.container_4 img {
    margin-left: 265px;
    margin-top: 57px;
}

.container_4 button {
    margin-left: 638px;
    margin-top: 113px;
}

.container_5 {
    width: 1440px;
    height: 600px;
    margin-top: 176px;
}

.content_Con5 {
    width: 1260px;
    background-color: #BD78F0;
    margin-left: 180px;
    margin-bottom: 238px;
}

.con5_lSide {
    position: relative;
    right: 115px;
    top: 68px;
}

.text_8 {
    width: 485px;
    height: 192px;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: var(--black-color);
    margin: 103px 193px 39px 57px;
}

.text_9 {
    width: 550px;
    height: 56px;
    font-size: 17px;
    line-height: 28px;
    color: var(--black-color);
    margin-left: 57px;
}

.text_10 {
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #6A7981;
    width: 94px;
    height: 24px;
    margin: 136px 0 0 148px;
}

.text_11 {
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: var(--black-color);
    width: 593px;
    height: 144px;
    margin: 13px 0 26px 148px;
}

.text_12 {
    font-size: 22px;
    line-height: 32px;
    color: #375361;
    width: 500px;
    height: 32px;
    margin-left: 148px;
}

.container_6 {
    width: 1440px;
    margin-bottom: 226px;
}

.container_7 {
    width: 1440px;
    margin-bottom: 148px;
}

.con7_content {
    margin-left: 148px;
}

.con7_content img {
    margin-bottom: 23px;

}

.con7_content h5 {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--black-color);
    margin-bottom: 29px;

}

.con7_content p {
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    width: 484px;
    height: 84px;
    margin-bottom: 64px;
}

.posImg {
    margin-left: 293px;
}

.mgtop {
    margin-top: 140px;
}

.h23 {
    height: 23px;
}

.fs12-lh16-tt-ls {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.contextual {
    width: 228px;
    background: #E7EAEB;
    border-radius: 4px;
    margin-left: 148px;
    margin-right: 16px;
    color: #61757E;
    align-items: center;
    justify-content: center;
}

.mr8 {
    margin-right: 8px;
}

.videoque {
    width: 147px;
    background: #E7EAEB;
    border-radius: 4px;
    color: #61757E;
    align-items: center;
    justify-content: center;
}

.concept {
    width: 152px;
    background: #FE9F28;
    border-radius: 4px;
    color: var(--black-color);
    align-items: center;
    justify-content: center;
}


.color_line {
    border: 1px solid #C9316F;
    height: 2px;
    width: 588.28px;
    background-color: #C9316F;
}

.container_8 {
    width: 100%;
    height: 960px;
    background: #F2EDE7;
    padding-top: 96px;
}

.container_8 h3 {
    margin-left: 122px;
    margin-top: 96px;
}

.txt {
    margin-left: 122px;
    margin-top: 10px;

}

.Position_IMG {
    margin-left: 122px;
    margin-top: 122px;
}

.rSide_con8 {
    margin-top: 120px;
    margin-left: 224px;
}

.Contextual {
    margin-top: 25.22px;
    font-size: 24px;
    line-height: 32px;
    color: var(--black-color);

}

.text_13 {
    margin-top: 25px;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}

.text_15 {
    margin-top: 36px;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    width: 563px;
    height: 84px;
}

.angelup {
    position: relative;
    left: 320.33px;
}

.LearnMore {
    margin-top: 35px;
    line-height: 28px;
    color: var(--black-color);
}

.silver_line {
    width: 588.28px;
    height: 2px;
    border: 1px solid #C3CACD;
    background-color: #C3CACD;
    margin-top: 28.78px;
    margin-bottom: 25.22px;
}

.text16 {
    font-size: 24px;
    line-height: 32px;
}

.angeldown {
    position: relative;
    left: 422.33px;
}

.angel-down {
    position: relative;
    left: 437.33px;
}

.container_9 {
    height: 818px;
    max-width: 1440px;
    margin: 223px 0 0 148px;
}

.container_9 h5 {
    font-size: 14px;
    line-height: 24px;
    color: #375361;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.container_9 h4 {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--black-color);
    width: 669px;
    height: 120px;
}

.container_9 p {
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    width: 667px;
    height: 84px;
    margin-top: 37px;
}

.mt36 {
    margin-top: 36px;
}

.imgsetup {
    position: relative;
    top: -42px;
    right: -262px;
}

.container_10 {
    width: 1440px;
    height: 744px;
    /*border: 1px solid red;*/
}

.bg_F2EDE7 {
    background: #F2EDE7;
    width: 562px;
    margin-left: 32px;
    border-radius: 10px 0 0 10px;
}

.h584 {
    height: 584px;
}

.mt80-mb80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.bg_yellow {
    background-color: #F9C600;
    width: 794px;
    border-radius: 0 10px 10px 0;
}

.MT80-ML116 {
    margin: 80px 0 0 116px;
}

h6 {
    font-size: 14px;
    line-height: 24px;
    color: #375361;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    width: 104px;
    height: 34px;

}

.text_16 {
    width: 314px;
    height: 64px;
    font-size: 24px;
    line-height: 32px;
    color: var(--black-color);
}

.text_17 {
    font-size: 17px;
    line-height: 28px;
    color: var(--black-color);
    margin-top: 27px;
    width: 325px;
    height: 84px;
}

.btn_3 {
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    background: #F2EDE7;
    width: 140px;
    height: 54px;
    margin-top: 36px;

    cursor: pointer;
}

.mt79-mr116-ml121 {
    margin: 79px 116px 0 121px;
}

.text_18 {
    width: 557px;
    height: 240px;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
}

.portfolio {
    margin-top: 81px;
}

.FL_name {
    position: relative;
    left: 24px;
    bottom: 12px;
}

.portfolio > p {
    position: relative;
    bottom: 41px;
    left: 108px;
}

.VectorPosition {
    position: relative;
    bottom: 519px;
    left: 2px;
}

.container_11 {
    width: 100%;
    height: 423px;
    margin-top: 46px;
    background-color: var(--dark-blue);
    padding-top: 53px;
}

.container_11 > h3 {
    color: #FFFFFF;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
}

.container_11 > h4 {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin: 31px 0 36px 433px;
    width: 642px;
    height: 56px;
}

.container_11 > span {
    margin-left: 670px;
}

.lineBeforeFooter {
    /*margin-left: 143px;*/
    margin: 94.77px 0 79.22px 143px;
}

.container_12 {
    width: 100%;
    height: 678px;
    background-color: var(--dark-blue);
}



.colortxt {
    color: white;
    margin-top: 80px;
    width: 1072px;
    height: 343px;
}

.logo_position_con12 {
    margin: 79.99px 109.52px 549.92px 32px;
    width: 128.48px;
    height: 48.1px;
}

.product {
    margin-right: 175px;
}
.CustomerStories{
    margin-right: 101px;
}

.company{
    margin-right: 159px;
}
.product>span,.CustomerStories>span,.company>span,.Resources>span{
    color:#F9C600;
}
.fontstyle{
    color: #94A0A4;
}
.Copyright{
    margin-top: 69px;
    font-size: 14px;
    line-height: 20px;
    color: #94A0A4;
}

.mr589{
    margin-left: 589px;
    column-gap: 24px;
    margin-top: 65px;
}


